@{
    ViewBag.Title = "Cooperate!";
}

@if (User.Identity.IsAuthenticated)
{
    <nav>
        @Html.Partial("_Nav")
    </nav>
    <div class="realContent">
        <h2>Index</h2>
    </div>
}
else
{
    <p>Nie jesteś zalogowany!</p>
}
