@if (User.Identity.IsAuthenticated)
{
    <div>
        @{
    using (Cooperate_mvc.Models.compact_dbEntities db = new Cooperate_mvc.Models.compact_dbEntities())
    {
        var user = db.Users.Where(u => u.User_login.Equals(User.Identity.Name)).Single();
            @Html.ActionLink(user.User_firstName + " " + user.User_lastName, "Details", "Account", new { id = user.User_login }, null)
    }
        }
    </div>

    <div>
        @Html.ActionLink("Wyloguj", "Logout", "Account")
    </div>
}
else
{

    <div>
        @Html.ActionLink("Zaloguj", "Login", "Account")
    </div>

    <div>
        @Html.ActionLink("Zarejestruj", "Create", "Account")
    </div>
}