<div id="loginPartial">
    @if (User.Identity.IsAuthenticated)
    {
        <span class="userName">
            @{
        Cooperate_mvc.Models.compact_dbEntities db = new Cooperate_mvc.Models.compact_dbEntities();
        var user = db.Users.Where(u => u.User_login.Equals(User.Identity.Name)).Single();
                @Html.ActionLink(user.User_firstName + " " + user.User_lastName, "Details", "Account", new { login = user.User_login }, null)
            }
        </span>

        <span class="action">
            @Html.ActionLink("Wyloguj", "Logout", "Account")
        </span>
    }
    else
    {

        <span class="action">
            @Html.ActionLink("Zaloguj", "Login", "Account")
        </span>

        <span class="action">
            @Html.ActionLink("Zarejestruj", "Create", "Account")
        </span>
    }
</div>
