@if (User.Identity.IsAuthenticated)
{
    <div>
        @User.Identity.Name
    </div>
    <div>
        @Html.ActionLink("Wyloguj", "Logout", "Account")
    </div>
}
else
{
    <div>
        @Html.ActionLink("Zaloguj", "Login", "Account")
    </div>
    <div>
        @Html.ActionLink("Zarejestruj", "Create", "Account")
    </div>
}