@if (User.Identity.IsAuthenticated)
{

    <div>
        <a href="~/Account/Details/@HttpUtility.HtmlEncode(User.Identity.Name)">@User.Identity.Name</a>
    </div>

    <div>
        @Html.ActionLink("Wyloguj", "Logout", "Account")
    </div>
}
else
{

    <div>
        @Html.ActionLink("Zaloguj", "Login", "Account")
    </div>

    <div>
        @Html.ActionLink("Zarejestruj", "Create", "Account")
    </div>
}