@model Cooperate_mvc.Models.ChatMessageModel

@if (Model.SenderLogin.Equals(User.Identity.Name))
{
    @: <div class="MessageFromMe">
}
else
{
    @: <div class="MessageToMe">
}
<fieldset>
    <legend>
        <span class="Author">
            @Html.ActionLink(Model.SenderLogin, "Details", "Account", new { login = Model.SenderLogin }, null)
        </span>
        <span class="Datetime">
            @Html.DisplayFor(model => model.Datetime)
        </span>
    </legend>
    @Html.DisplayFor(model => model.Text)
</fieldset>
</div>