<nav>
    <div class="navItem">
        Utwórz grupę
    </div>
    <div class="navItem">
        Utwórz zadanie
    </div>
    <div class="navItem">
        Wiadomości
    </div>
    <div class="navItem">
        @Html.ActionLink("Twoje grupy", "Index", "Groups")
    </div>
</nav>
