body {
    font-size: .85em;
    font-family: Calibri, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    min-width: 1000px;
    margin: 0;
}

.userList {
    display: none;
}

header {
    width: 1000px;
    margin: 0 auto;
    display: table;
}

    header .logo {
        float: left;
        font-size: x-large;
        font-family: 'Segoe Print';
    }

    header .login {
        float: right;
        font-size: large;
    }

footer {
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

#content {
    width: 1000px;
    margin: 0 auto;
}

    #content .realContent {
        float: left;
        width: 800px;
    }

.indexList td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
}

    .indexList td:last-child {
        border: none;
    }

nav {
    float: left;
    width: 200px;
}

    nav .navItem {
        margin-top: 1em;
        font-size: large;
    }

        nav .navItem li {
            font-size: medium;
        }

#mainLoginForm {
    width: 300px;
    margin: 0 auto;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1em;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.display-label {
    font-weight: bold;
    margin-top: 1em;
}

    .display-label:first-of-type {
        margin-top: 0;
    }

.display-field {
    margin-left: 1em;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
