body {
    background-image: url('images/textured_paper.png');
    font-size: .85em;
    font-family: Calibri, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    min-width: 650px;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-image: url('images/top_line_bg.png');
    width: 100%;
    height: 98px;
    position: fixed;
}

    header div#headerContent {
        width: 80%;
        min-width: 650px;
        margin-left: 10%;
        margin-right: 10%;
        height: 55px;
        margin: 4px auto;
        padding-top: 6px;
        display: table;
    }

        header div#headerContent div.logo {
            float: left;
            margin-top: 4px;
        }

            header div#headerContent div.logo a {
                background: url('images/logo.png') no-repeat center;
                display: block;
                width: 250px;
                height: 65px;
            }

                header div#headerContent div.logo a:hover {
                    background: url('images/logo2.png') no-repeat center;
                }

        header div#headerContent #loginPartial {
            float: right;
            font-size: large;
            margin-top: 20px;
        }

            header div#headerContent #loginPartial a {
                color: #9a9a9a;
                padding: 0 20px;
                text-decoration: none;
            }

                header div#headerContent #loginPartial a:hover {
                    color: #ddd;
                }

#content {
    width: 80%;
    min-width: 650px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 110px;
    display: table;
}

    #content #realContent {
        width: 100%;
        margin-left: 200px;
        text-align:center;
    }

        #content #realContent #realContentContent {
            display: inline-block;
            text-align: left;
        }

.indexList td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
}

    .indexList td:last-child {
        border: none;
    }

nav {
    float: left;
    width: 200px;
    position: fixed;
}

    nav .navItem {
        margin-top: 1em;
        font-size: large;
    }

#mainLoginForm {
    width: 300px;
    margin: 0 auto;
}

.userList {
    display: none;
}

footer {
    width: 80%;
    min-width: 650px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    text-align: center;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1em;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.display-label {
    font-weight: bold;
    margin-top: 1em;
}

    .display-label:first-of-type {
        margin-top: 0;
    }

.display-field {
    margin-left: 1em;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
