body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    min-width: 1000px;
    margin: 0;
}

header {
    width: 1000px;
    margin: 0 auto;
    display: table;
}

    header .logo {
        float: left;
        font-size: x-large;
        font-family: 'Segoe Print';
    }

    header .login {
        float: right;
        font-size: large;
        font-family: Calibri;
    }

footer {
    width: 1000px;
    margin: 0 auto;
    display: table;
    text-align: center;
}

#content {
    width: 1000px;
    margin: 0 auto;
    display: table;
}

    #content .realContent {
        float: left;
        width: 800px;
        /*display: table;*/
    }

nav {
    float:left;
    width: 200px;
    font-family: Calibri;
    /*display: table;*/
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
