html, body {
    height: 100%;
}

body {
    background-image: url('images/textured_paper.png');
    font-size: .85em;
    font-family: Calibri, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #023c03;
}

    a:hover {
        color: #9ea82b;
    }

div#mainContainer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -98px; /* - height of footer */
}

/*  Header
    ------------------------------------------*/

header {
    background-image: url('images/top_line_bg.png');
    width: 100%;
    height: 98px;
    position: fixed;
}

    header div#headerContent {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 55px;
        margin: 4px auto;
        padding-top: 6px;
        display: table;
    }

        header div#headerContent div.logo {
            float: left;
            margin-top: 4px;
        }

            header div#headerContent div.logo a {
                background: url('images/logo.png') no-repeat center;
                display: block;
                width: 250px;
                height: 65px;
            }

                header div#headerContent div.logo a:hover {
                    background: url('images/logo2.png') no-repeat center;
                }

        header div#headerContent #loginPartial {
            float: right;
            font-size: large;
            margin-top: 20px;
        }

            header div#headerContent #loginPartial a {
                color: #9a9a9a;
                padding: 0 20px;
                text-decoration: none;
            }

                header div#headerContent #loginPartial a:hover {
                    color: #ddd;
                }

/*  Content
    ------------------------------------------*/

div#content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 110px;
    display: table;
}

    div#content div#realContent {
        margin-left: 275px;
    }

        div#content div#realContent div.welcomeText {
            font-size: x-large;
        }

        div#content div#realContent div.welcomeImg {
            display: none;
        }

        div#content div#realContent div.framedContent {
            padding: 10px 50px 10px;
            background: rgba(255, 255, 255, 0.50);
            margin-top: 10px;
        }

            div#content div#realContent div.framedContent:first-child {
                margin-top: 0;
            }

            div#content div#realContent div.framedContent div.header {
                text-align: center;
                font-size: large;
                font-weight: bold;
            }

            div#content div#realContent div.framedContent .indexList .create {
                font-size: large;
                margin-bottom: 10px;
            }

            div#content div#realContent div.framedContent fieldset {
                border: 2px solid #cbcbcb;
            }

                div#content div#realContent div.framedContent fieldset div {
                    padding: 10px;
                }

                    div#content div#realContent div.framedContent fieldset div.chzn-container {
                        padding: 0;
                    }

                        div#content div#realContent div.framedContent fieldset div.chzn-container div {
                            padding: 0;
                        }

                    div#content div#realContent div.framedContent fieldset div.description {
                        margin-left: 20px;
                    }

            div#content div#realContent div.framedContent legend {
                font-size: x-large;
                font-weight: normal;
                margin-bottom: 5px;
            }

            div#content div#realContent div.framedContent div#Posts fieldset {
                border: 1px dotted #9a9a9a;
            }

                div#content div#realContent div.framedContent div#Posts fieldset legend span.Author {
                    font-size: large;
                    font-weight: bold;
                }

                div#content div#realContent div.framedContent div#Posts fieldset legend span.Datetime {
                    font-size: medium;
                    color: #9a9a9a;
                }

            div#content div#realContent div.framedContent textarea {
                min-height: 75px;
                width: 100%;
                resize: vertical;
            }

            div#content div#realContent div.framedContent input[type=text],
            div#content div#realContent div.framedContent input[type=date],
            div#content div#realContent div.framedContent select {
                width: 100%;
                height: 25px;
            }

            div#content div#realContent div.framedContent .NormalWidth {
                width: auto;
            }

            div#content div#realContent div.framedContent input[type=submit] {
                width: 100px;
                height: 30px;
            }

            div#content div#realContent div.framedContent .editor-label {
                font-size: large;
            }

            div#content div#realContent div.framedContent .display-label {
                font-weight: bold;
                margin-top: 1em;
                font-size: large;
            }

                div#content div#realContent div.framedContent .display-label:first-of-type {
                    margin-top: 0;
                }

            div#content div#realContent div.framedContent .display-field {
                margin-left: 1em;
                padding: 10px;
            }

                div#content div#realContent div.framedContent .display-field li {
                    font-size: medium;
                    padding-top: 5px;
                }

                    div#content div#realContent div.framedContent .display-field li:first-child {
                        padding-top: 0;
                    }

/*  Navigation section
    ------------------------------------------------------------*/

nav {
    float: left;
    width: 250px;
    position: fixed;
}

    nav div#navContent {
        padding: 10px 50px 10px;
        background: rgba(255, 255, 255, 0.50);
        display: inline-block;
    }

    nav div {
        margin-top: 10px;
        font-size: 20px;
    }

    nav a:before {
        padding-right: 5px;
    }

    nav div:first-child {
        margin-top: 0;
    }

    nav div a {
        color: black;
    }

    nav div#home {
        display: none;
    }

    nav div#groupCreate a:before {
        content: url('images/add_group.png');
    }

    nav div#groupCreate a:hover:before {
        content: url('images/plus.png');
    }

    nav div#taskCreate a:before {
        content: url('images/task_add.png');
    }

    nav div#taskCreate a:hover:before {
        content: url('images/plus.png');
    }

    nav div#taskList a:before {
        content: url('images/task.png');
    }

    nav div#groupList a:before {
        content: url('images/groupevent.png');
    }

    nav div#messages a:before {
        content: url('images/message.png');
    }

    nav div a:hover {
        color: #9ca524;
    }

    nav div a:visited {
    }

/*  Sign-up and sign-in forms
    --------------------------------------------------------*/

#sign {
    width: 335px;
    margin: 0 auto;
}

#sign-box {
    margin: 12px 0 0;
    padding: 20px 25px 15px;
    background: #333333;
    border: 4px solid #9ca524;
}

    #sign-box label {
        display: block;
        font-weight: bold;
        margin: 0 0 .5em;
        color: #ddd;
    }

    #sign-box div {
        margin: 0 0 1.5em;
    }

    #sign-box label.remember {
        display: inline-block;
        vertical-align: top;
        margin: 9px 0 0;
        color: #ddd;
    }

        #sign-box label.remember:hover {
            color: #9a9a9a;
        }

    #sign-box .remember-label {
        font-weight: normal;
        line-height: 0;
        padding: 0 0 0 .4em;
    }


    #sign-box input[type=text], #sign-box input[type=password], #sign-box input[type=email], #sign-box input[type=date] {
        width: 100%;
        height: 32px;
        font-size: 15px;
    }

    #sign-box input[type=submit] {
        margin: 0 1.5em 1.2em 0;
        height: 32px;
        font-size: 13px;
    }

        #sign-box input[type=submit]:hover {
        }

footer, div#push {
    clear: both;
    height: 98px;
}

footer {
    background-image: url('images/bottom_line_bg.png');
    width: 100%;
}

    footer div#footerContent {
        color: #9a9a9a;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
        display: inline-block;
        text-align: center;
    }


/* Default Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1em;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.display-label {
    font-weight: bold;
    margin-top: 1em;
}

    .display-label:first-of-type {
        margin-top: 0;
    }

.display-field {
    margin-left: 1em;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (min-width: 1200px) {

    div#content div#realContent div.welcomeText {
        width: 50%;
        float: left;
    }

    div#content div#realContent div.welcomeImg {
        display: initial;
        width: 50%;
        float: left;
    }
}


@media only screen and (max-width: 850px) {

    /*  Header
    ------------------------------------------*/

    header {
        position: initial;
    }

        header div#headerContent {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin: 0 auto;
        }

            header div#headerContent div.logo a {
                background: url('images/logo2.png') no-repeat center;
                display: block;
                width: 250px;
                height: 65px;
            }

    div#content {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: table;
        padding-top: 10px;
    }

        div#content div#realContent {
            margin-left: 0;
            display: table-row;
        }

    /*  Navigation section
    ------------------------------------------------------------*/

    nav {
        width: 100%;
        margin-bottom: 10px;
        position: static;
        display: table-row;
    }

        nav div#navContent {
            padding: 10px 50px 10px;
            background: rgba(255, 255, 255, 0.50);
            display: block;
            text-align: center;
        }

        nav div {
            margin-top: 0;
            font-size: 20px;
            display: inline-block;
        }

        nav a:before {
            padding-right: 0;
        }

        nav div:first-child {
            margin-top: 0;
        }

        nav div a {
            color: black;
            white-space: nowrap;
            padding: 0 30px;
        }

        nav div#groupCreate a:before {
            content: none;
        }

        nav div#groupCreate a:hover:before {
            content: none;
        }

        nav div#taskCreate a:before {
            content: none;
        }

        nav div#taskCreate a:hover:before {
            content: none;
        }

        nav div#taskList a:before {
            content: none;
        }

        nav div#groupList a:before {
            content: none;
        }

        nav div#messages a:before {
            content: none;
        }

        nav div a:hover {
            color: #9ca524;
        }

        nav div a:visited {
        }

    div#footerContent {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 600px) {

    header div#headerContent div.logo {
        display: none;
    }

    header div#headerContent #loginPartial {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    nav div#home {
        display: inherit;
    }
}
